.App {
  text-align: center;
}

.search-params form {
  margin: 20px;
  padding: 35px 15px 15px 15px;
  border-radius: 5px;
}

.search-params input {
  margin: 10px 20px;
  width: 20%;
  height: 30px;
  border-radius: 5px;
}

.search-params button {
  padding: 10px;
  border-radius: 5px;
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-items {
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  flex-basis: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-items .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-items .summary {
  max-height: 30vh;
  overflow: scroll;
  text-overflow: ellipsis;
}

.auto-complete {
  position: relative;
  width: 20%;
  margin-left: 38%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
